@model StudyHub.DAL.Models.KhoaHoc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KhoaHoc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKhoaHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKhoaHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGiangVienNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGiangVienNavigation.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHocKyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHocKyNavigation.NamHocKy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMonHocNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMonHocNavigation.TenMonHoc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdKhoaHoc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
